body {
  background-color: #ffffff;
  font-family: sans-serif;
  box-sizing: border-box;
  margin: 0;
  scroll-behavior: smooth;
}
.blank-space {
  height: 100px;
}
.welcome {
  text-align: center;
}
.nav {
  display: flex;
  position: fixed;
  justify-content: space-around;
  align-items: center;
  top: 0;
  width: 100%;
  background-color: rgb(7, 18, 100);
  padding: 10px 0;
  z-index: 1000;
}
.nav-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-direction: row;
  text-decoration: none;
  font-size: 18px;
}
.nav-list li {
  list-style-type: none;
}
.nav-items {
  text-decoration: none;
  color: #ffffff;
}
.funds h2,
.funds h3 {
  text-align: center;
}
.funds {
  background-color: rgba(7, 18, 100, 0.877);
  margin: 20px 100px;
  border-radius: 10px;
  padding: 10px 100px;
  color: #ffffff;
  justify-content: center;
  scroll-margin-top: 90px;
}

.funds-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1px;
  flex-direction: column;
  padding: 0 20px;
  margin-top: 10px;
}

.funds-text {
  margin-top: 20px;
  padding: 0 20px;
}
.funds-intro p,
.funds-text p,
.news-item p {
  line-height: 1.5;
  font-family: sans-serif;
}
.funds-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: rgba(7, 18, 100, 0.877);
  color: #ffffff;
  text-align: center;
  padding: 10px 100px;
  margin: 20px 100px;
  border-radius: 10px;
  scroll-margin-top: 90px;
}
.about h4 {
  margin-bottom: 10px;
  text-align: start;
}
.about-image {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about p {
  text-align: start;
  line-height: 1.5;
  font-family: sans-serif;
}
.about img {
  margin-top: 20px;
  width: 600px;
  height: auto;
  border-radius: 10px;
}
.news {
  background-color: rgba(7, 18, 100, 0.877);
  color: #ffffff;
  text-align: start;
  padding: 10px 100px;
  margin: 20px 100px;
  border-radius: 10px;
  scroll-margin-top: 90px;
}
.news h2 {
  text-align: center;
}
.news-video {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  border-radius: 10px;
  margin-bottom: 50px;
}
.news-video iframe {
  border-radius: 10px;
  width: 1080px;
  height: 600px;
}
.contact {
  background-color: rgba(7, 18, 100, 0.877);
  color: #ffffff;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 50px 100px;
  margin: 10px 100px;
  border-radius: 10px;
  scroll-margin-top: 90px;
  gap: 50px;
}
.contact h2,
.contact h3 {
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-top: 20px;
  padding: 0 20px;
}

.form input,
.form textarea {
  width: 100%;
  padding: 8px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
  font-family: sans-serif;
}
.form input:focus,
.form textarea:focus {
  outline: none;
  box-shadow: 0 0 10px #ffffff;
}
.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(7, 18, 100);
  color: #ffffff;
  text-align: center;
  padding: 20px 0;
  margin-top: 40px;
}
.contact-form {
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 1px #ffffff;
}
.contact-info {
  border-radius: 5px;
  padding-left: 20px;
  box-shadow: 0 0 1px #ffffff;
}
.btn {
  display: flex;
  justify-content: center;
  width: 100%;
}
.btn button {
  background-color: rgb(53, 73, 226);
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
.btn button:hover {
  background-color: #000080;
}
.map {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}
.dropdown {
  display: none;
}
/* Dropdown Button */
.dropbtn {
  background-color: #04aa6d73;
  color: white;
  border-radius: 20px;
  padding: 16px;
  font-size: 16px;
  border: none;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  margin-top: 8px;
  width: 140px;
  background: white;
  border: 1px solid #ddd;
  border-radius: 6px;
  display: none;
  position: absolute;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  right: 0;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
@media (max-width: 480px) {
  .welcome {
    font-size: 24px;
  }
  .dropdown {
    display: block;
  }
  .funds,
  .about,
  .news,
  .contact {
    padding: 10px 50px;
    margin: 20px 30px;
  }
  .funds-text h3 {
    font-size: 18px;
  }
  .funds-text p,
  .funds-intro p,
  .news-item p,
  .about p {
    text-align: justify;
  }
  .funds-list {
    grid-template-columns: 1fr;
    padding: 0 1px;
    margin-top: 10px;
  }
  .about img {
    width: 100%;
    height: auto;
  }
  .nav-list {
    display: none;
  }
  .nav {
    padding: 10px 20px;
    margin-top: 0;
  }
  .funds-list {
    grid-template-columns: 1fr;
    padding: 0 10px;
    margin-top: 10px;
  }
  .funds-image img {
    margin: 20px 0;
    width: 100%;
    height: auto;
  }
  .news-video iframe {
    width: 100%;
    height: auto;
  }
  .contact-info {
    padding: 10px;
  }
  .map iframe {
    width: 100%;
    height: auto;
  }
  .footer {
    flex-direction: column;
    gap: 20px;
  }
}
@media (max-width: 1024px) {
  .funds,
  .about,
  .news,
  .contact {
    padding: 10px 50px;
    margin: 20px 30px;
  }
  .contact {
    padding: 50px 50px;
  }
  .about p,
  .funds-text p,
  .funds-intro p,
  .news-item p {
    text-align: justify;
  }
  .about {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .funds-image img {
    width: 100%;
    height: auto;
  }
  .about img {
    width: 100%;
    height: auto;
  }
  .news-item {
    width: 100%;
    height: auto;
  }
  .news-video iframe {
    width: 100%;
    height: 500px;
  }
  .map {
    margin: 10px;
  }
  .contact-info {
    padding: 10px;
  }
  .map iframe {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1280px) {
  .funds,
  .about,
  .news,
  .contact {
    padding: 10px 50px;
    margin: 20px 30px;
  }
  .contact {
    padding: 50px 50px;
  }
  .about p,
  .funds-text p,
  .funds-intro p,
  .news-item p {
    text-align: justify;
  }
  .about {
    grid-template-columns: 1fr;
    padding-bottom: 30px;
  }
  .funds-image img {
    width: 100%;
    height: auto;
  }
  .about img {
    width: 100%;
    height: auto;
  }
  .news-item {
    width: 100%;
    height: auto;
  }
  .news-video iframe {
    width: 100%;
    height: 500px;
  }
  .map {
    margin: 10px;
  }
  .contact-info {
    padding: 10px;
  }
  .map iframe {
    width: 100%;
    height: auto;
  }
}
